# Datasets, publicly available upon request (see instructions in README)
data/

# dont need training logs or all per epoch data
logs/
results/manet/per-epoch/
results/unet/per-epoch/

# model checkpoints
*.safetensors
*.pt
*.pth
*.ckpt
